html.no-scroll,
html.no-scroll body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.no-scroll body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.no-scroll header {
    flex-shrink: 0;
}

.no-scroll .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Mantém o scroll */
    min-height: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

/* Esconde a scrollbar no Chrome/Safari/Opera */
.no-scroll .main::-webkit-scrollbar {
    display: none;
}

/* Centraliza o conteúdo dentro do main */
.no-scroll .main > * {
    margin: auto 0;
}

.no-scroll footer {
    flex-shrink: 0;
}

.no-scroll #scroll-top {
    display: none !important;
}